body{
    margin: 0px;
    font-family: 'Muli', sans-serif;
}

header {
    height: 100px;  
}
    
.notfound-container{
    background: linear-gradient(#001C30, #0077B6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 200px);
}

.NotFound__title{
    font-size: 250px;
    margin: 0px;
    color: white;
}

.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

.pulse {
    animation-name: pulse;
    animation-duration: 1s;
}

.NotFound__frase{
    font-size: 20px;
    margin: 0px;
    color: white;
}

.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #0077B6;
}
.footer a{
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}